<div class="container-fluid text-center border border-white rounded-pill bg-white" style="margin: 2rem; width: 4.8rem;">
    <a class="navbar-brand text-success" href="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav border border-white rounded-pill bg-white" style="width: 25rem;">
        <li class="nav-item">
          <a class="nav-link text-dark" href="/listarProductos">Productos</a>
        </li>
        <div class="vr"></div>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/vistaCategoria">Categorias</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link text-dark" href="/listarProductos">Lista_productos</a>
        </li> -->
      </ul>
    </div>
</div>